# CMake files

CMakeLists.txt
cmake-build-debug/

# default executable

a.out

# rider's stuff

.idea/

# objects file

build/
*.o

# random files

*.replace
*.log

# executables

megaphone
phonebook
account
zombieEvent
zombieHorde
humanBrain
violence
replace
human
logger
cato9tails
fixed
fixed2.0
fixed3.0
eval_expr