# CMake files

CMakeLists.txt
cmake-build-debug/

# default executable

a.out

# rider's stuff

.idea/

# objects file

build/
*.o

# random files

*.replace
*.log
*_shrubbery
sos

# valgrind files

*.dSYM/

# executables

megaphone
phonebook
account
zombieEvent
zombieHorde
humanBrain
violence
replace
human
logger
cato9tails
fixed
fixed2.0
fixed3.0
eval_expr
FragTrap
ScavTrap
ClapTrap
NinjaTrap
SuperTrap
sorcerer
weapon
marines
materia
mine
bureaucrat
form
forms
intern
officeBlock
central
scalar
serialization
identify
whatever
iter
array
easyfind
span
mutantstack
mindopen
rpn
ft_retro